{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h2>My Placement Drives</h2>
        <a href="{{ url_for('create_drive') }}" class="btn btn-primary"
            style="float: right; margin-top: -2.5rem;">Create New Drive</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Cgpa Req.</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for drive in drives %}
            <tr>
                <td>{{ drive.job_title }}</td>
                <td>{{ drive.required_cgpa }}</td>
                <td>{{ drive.application_deadline }}</td>
                <td>
                    {% if drive.status == 'Approved' %}
                    <span class="badge badge-success">Approved</span> 
                    {% elif drive.status == 'Rejected' %}
                    <span class="badge badge-danger">Rejected</span>
                    {% elif drive.status == 'Closed' %}
                    <span class="badge badge-info">Closed</span>
                    {% else %}
                    <span class="badge badge-warning">Pending</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('edit_drive',id=drive.id) }}" class="btn btn-primary"
                        style="padding: 0.4rem 0.8rem; font-size: 0.85rem;">Edit</a>
                    <a href="{{ url_for('company_view_applications',id=drive.id) }}" class="btn btn-success"
                        style="padding: 0.4rem 0.8rem; font-size: 0.85rem;">Applications</a>
                    {% if drive.status == 'Approved' %}
                    <a href="{{ url_for('close_drive',id=drive.id) }}" class="btn btn-warning"
                        style="padding: 0.4rem 0.8rem; font-size: 0.85rem;">Close</a>
                    {% endif %}
                    <a href="{{ url_for('delete_drive',id=drive.id) }}" class="btn btn-danger"
                        style="padding: 0.4rem 0.8rem; font-size: 0.85rem;"
                        onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
