{% extends "base.html" %}
{% block title %}About - AD University Placement Cell{% endblock %}

{% block content %}

<center>
    <br>
    <h1><p><b>ABOUT</b></p></h1>
    <br>
    <h1>Know More About <b> What we Are </b>
    </h1>

    <h3>AD University Placement Portal</h3>
    <p>
        Connecting Excellence with Automated Efficiency
    </p>
    <br>
    <h2>
        Streamlined Opportunities for Students and Recruiters
    </h2>

    <p>
        The AD University Placement Portal offers a seamless and fully automated
        operational process for both Students and Recruiters.
    </p>

    <p>
        This Platform connects our students with leading job opportunites,
        while providing Recruiters with an automated and streamlined experience.
    </p>
     <br>
     <p>
        🌏<b>AD University | Placement Portal</b>
     </p>
     <br>
</center>


{% endblock %}